[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
geopy = "*"
pandas = "*"
numpy = "*"
haversine = "*"
matplotlib = "*"
streamlit = "*"
mpl_toolkits = "*"

[dev-packages]

[requires]
python_version = "3.9"
